.container {
    width: 80%;
    margin: 0 auto;
}
.rowcv {
    display: flex; /*para poner todo en la misma fila*/
    justify-content: space-between;  /*reparte el espacio entre lo que haya en esa fila, deja el mismo espacio entre unos y otros*/
    align-items: center;  
}

.row { /*fila*/
    display: flex; /*para poner todo en la misma fila*/
    flex-wrap: wrap;
    justify-content: space-between;  /*reparte el espacio entre lo que haya en esa fila, deja el mismo espacio entre unos y otros*/
}

.row-around{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.row-footer {
    align-items: center;
    padding: 0 550px;
}

header nav ul, header nav li {
    padding: 0;
    margin: 0;
}

header nav li {
    list-style-type: none;
    float: left;
    position: relative;
    margin-right: 20px;
}

header nav li img {
    margin-right: 10px;
}

header nav li li {
    margin-left: 0;
    padding: 10px;
    width: 240px;
    display: flex;
    align-items: center;
    
}

header nav li:hover{
    border-top: solid 4px #ffbc0f;
}

header nav li:hover li {
    border: none;
}

header nav li li:hover {
    background-color: #ffbc0f;
    border-radius: 6px;
}

a {
    text-decoration: none;
    color: black;
}

header nav ul ul {
    display: none;
    position: absolute;
    margin-left: -10px;
    background-color: white;
    width: 260px;
    padding-top: 16px;
}

header nav ul li:hover ul {
    display: block;
}

.grande {
    background-image: url(../img/grande.jpg);
    height: 560px;
    background-size: cover;
}

.btn {
    border-radius: 2px;
    border: none;
    background-color: gainsboro;
    padding: 13px 40px;
}

.btn-naranja {
    background-color: #ffbc0f;
    border: 0;
    padding: 4px 10px;
    border-radius: 4px;
    font-size: 16px;
}

.colum-2 {
    width: 49%;
    display: flex;
    margin-top: 20px;

}

.colum-3 {
    width: 32%;
    margin-top: 20px;
    display: flex;
}

.card { 
    border-radius: 16px;
    box-shadow: 0 0 20px gainsboro;
    text-align: center;
    position: relative;
    padding-bottom: 40px;
}
.card img {
    width: 100%;
    border-top-left-radius: 16px;
    border-bottom-right-radius: 16px;
}
.mt-20 {
    margin-top: 20px;
}

.d-flex-v {
    display: flex;
    align-items: center;
}

.pt-10{
    padding: 10px;
}

.bg-naranja {
    background-color: #ffbc0f;
    width: 100%; 
}

.card button {
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.left {
    float: left;
    width: 20%;
    padding-right: 55px;
}
.right {
    width: 60%;
    float: left;
}

.center {
    width: 70%;
    padding: 20px 280px;
}